#wordBay-main {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.wordBay-collapsible {
    background-color: rgb(10, 131, 218);
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.wordBay-active, .wordBay-collapsible:hover {
    background-color: rgb(38, 0, 225);
}

.wordBay-content {
    padding: 0 18px;
    display: tab1;
    overflow: hidden;
    background-color: #f1f1f1;
  }