#wordBay-main {
    position: fixed;
    height: 100%;
    width: 400px;
    top: 0%;
    left: 1.5%;
    z-index: 99999;
    word-wrap: break-word;
}

#wordBay-header{
    background-color: #E54B4B;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#wordBay-name{
    color: #F7EBE8;
    cursor: pointer;
    padding: 18px;
    border: none;
    text-align: left;
    font-size: larger;
}

#wordBay-header-button-container {
    height: 50%;
    padding-right: 20px;
    width: 40px;
    border-radius: 5px;
}

#wordBay-close{
    border-radius: 10px;
    padding: 5px 15px;
    width: 100%;
    background-color: #F7EBE8;
    color: black;
}

#wordBay-word {
    float: left;
    width: 50%
}

#wordBay-type {
    float: right;
    width: 50%
}

.wordBay-collapsible {
    background-color: #1E1E24;
    color: #F7EBE8;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.wordBay-active, .wordBay-collapsible:hover {
    background-color: #444140;
}

.wordBay-content {
    padding: 0 18px;
    display: tab1;
    overflow: hidden;
    background-color: #F7EBE8;
}

#wordBay-tab1 {
    overflow-y: scroll;
}

#wordBay-tab2 {
    overflow-y: scroll;
}

#wordBay-tab3 {
    overflow-y: scroll;
}