#wordBay-main {
    position: fixed;
    top: 30%;
    left: 0;
    z-index: 99999;
}

.wordBay-collapsible {
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.wordBay-active, .wordBay-collapsible:hover {
    background-color: rgb(36, 36, 36);
}

.wordBay-content {
    padding: 0 18px;
    display: tab1;
    overflow: hidden;
    background-color: #575757;
  }