#wordBay-main {
    position: fixed;
    height: auto;
    width: 300px;
    top: 2.1%;
    left: 1.5%;
    z-index: 99999;
    word-wrap: break-word;
    border-radius: 25px;
    overflow: hidden;
    border: double;
}

#wordBay-header{
    background-color: #E54B4B;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#wordBay-name{
    color: #F7EBE8;
    cursor: pointer;
    padding: 18px;
    border: none;
    text-align: left;
    font-size: x-large;
    font-weight: 800;
}

#wordBay-header-button-container {
    height: 50%;
    padding-right: 20px;
    border-radius: 5px;
}

#wordBay-close{
    border-radius: 10px;
    padding: 5px 15px;
    width: 100%;
    background-color: #F7EBE8;
    text-align: center;
    color: black;
    font-weight: 600;
}

#wordBay-definition{
    padding-bottom: 10px;
    padding-top: 10px;
}
    
#wordBay-word {
    display: flex;
    flex-direction: row;
}

#wordBay-type {
    float: right;
    width: 30%
}

.wordBay-collapsible {
    font-weight: 600;
    background-color: #1E1E24;
    color: #F7EBE8;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
}

.wordBay-active, .wordBay-collapsible:hover {
    background-color: #444140;
}

.wordBay-content {
    padding: 0 18px;
    display: tab1;
    overflow: hidden;
    background-color: #F7EBE8;
}

#wordBay-first{
    display: flex;
    flex-direction: column;
}

#wordBay-first > p, h5{
    margin: 0px;
}